{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img id="logo" src="{% static 'img/logo_pur_beurre.png'%}" alt="Pur Beurre" width="50" height="50">
      Pur Beurre
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control" type="search" placeholder="Chercher..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
        </form>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">
              <i class="fas fa-user"></i>
            </a>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'signup' %}">Inscription</a>
              <a class="dropdown-item" href="{% url 'login' %}">Connexion</a>
            </div>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-carrot"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
