{% extends 'base.html' %}
{% load static %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
<section id="jumbotron" class="jumbotron jumbotron-fluid d-flex align-items-center">
  <div class="container text-center">
    <h1>Du gras, oui, mais de qualité !</h1>
    <h2>Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
    <form class="form-inline my-2 my-lg-0 justify-content-center">
      <input type="text" class="form-control" id="jumbotron-search" placeholder="Produit...">
      <button type="submit" class="btn btn-primary my-2 my-sm-0">Chercher</button>
    </form>
  </div>
</section>
<section id="story" class="pt-5 pb-5">
  <div class="container text-center">
    <h2>Colette et Remy</h2>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum accumsan nunc, nec vulputate lectus.
      Fusce efficitur leo consequat dictum consequat.
    </p>
    <div class="d-flex">
      <div class="col">
        <img src="{% static 'img/colette-tatou.png' %}" alt="Colette Tatou" height="150">
        <p>Colette</p>
      </div>
      <div class="col">
        <img src="{% static 'img/remy.jpg' %}" alt="Remy" height="150">
        <p>Remy</p>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="pt-5 pb-5">
    <div class="container text-center">
      <h2>Contactez-nous !</h2>
      <p>Phrase</p>
      <div class="d-flex">
        <div class="col">
          <i class="fas fa-phone-alt"></i>
          <p>05 05 00 00 00</p>
        </div>
        <div class="col">
          <i class="fa fa-envelope"></i>
          <a class="d-block" href="mailto:contact@purbeurre.fr">contact@purbeurre.fr</a>
        </div>
      </div>
    </div>
</section>
{% endblock %}
