{% extends 'base.html' %}
{% load static %}

{% block title %}
  Mentions Legales
{% endblock %}

{% block content %}
<div id="legal-notice" class="container mt-100">
  <h1>Mentions légales</h1>
  <h2 class="mt-5 mb-3">Site</h2>
  <ul>
    <li>Site internet (ci-après « le Site ») : désigne le site https://purbeurre.io/.</li>
  </ul>
  <h2 class="mb-3">Éditeur</h2>
  <ul>
    <li>Pur Beurre, SAS au capital de 1337,0€, dont le siège social est situé: Montmartre, Paris - France,
      représentée par Colette Tatou, en sa qualité de Président, immatriculée au RCS de Versailles, 123 456 789,
      TVA intracommunautaire : FR123456789</li>
      <li>Courriel de contact : contact@pur-beurre.io</li>
  </ul>
  <h2 class="mb-3">Hébergeur</h2>
  <ul>
    <li>Le Site est hébergé par Heroku, dont le siège est situé 650 7th St, San Francisco, CA, 94103, United States.</li>
  </ul>
  <h2 class="mb-3">Protection des données</h2>
  <ul class="mb-5">
    <li>Un délégué à la protection des données : John Doe, security@purbeurre.io, est à votre disposition pour toute question relative à la protection de vos données personnelles.</li>
    <li>Nous respectons votre vie privee et vos données, il vous est possible de supprimer votre compte a tout moment sur votre profil.</li>
  </ul>
</div>
{% endblock %}
