{% load static %}

<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ml-5" href="{% url 'home' %}">
      <img id="logo" src="{% static 'img/logo_pur_beurre.png'%}" alt="Pur Beurre" width="50" height="50">
      <span id="nav-title" class="nav-dark">Pur Beurre</span>
    </a>
    <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="mr-3 ml-auto" action="{% url 'search' %}" method="post">
        {% csrf_token %}
        {{ nav_search_form.product_name }}{{ nav_search_form.media }}
      </form>
      <ul class="navbar-nav mr-5">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link nav-dark" href="{% url 'profile' %}">
            <i class="fas fa-user"></i>
          </a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link nav-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'signup' %}">Inscription</a>
            <a class="dropdown-item" href="{% url 'login' %}">Connexion</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link nav-dark" href="{% url 'favorites' %}">
            <i class="fas fa-carrot"></i>
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link nav-dark" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
