/* Includes and static pages */

/* Legal Notice */
#legal-notice {
  box-shadow: 0 5px 0 0 $caramel;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  & h1,
  h2 {
    font-weight: bold;
  }

  & li::marker {
    color: $caramel;
  }
}

/* Navbar */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


nav.navbar {
  transition: cubic-bezier(.47,0,.74,.71) 0.75s;
  height: 80px;
  padding: 0;
  & #navbarSupportedContent {
    height: 100vh;
  }
  & #nav-title {
    transition: cubic-bezier(.47,0,.74,.71) 0.75s;
    font-size: 1.2em;
  }

  & input#nav_product_name {
    transition: cubic-bezier(.47,0,.74,.71) 0.75s;
    border-radius: 3px;
    box-shadow: 0 3px 0 0 $caramel;
    border: 1px solid $caramel;
  }

  & #logo {
    transition: cubic-bezier(.47,0,.74,.71) 0.75s;
    height: 60px;
    width: auto;
  }

  & a {
    padding: 0;
    color: white;
    transition: cubic-bezier(.47,0,.74,.71) 0.2s;

    &:hover {
      color: $biscuit;
    }

    &:active {
      color: $biscuit;
    }
  }

  & a.dropdown-item {
    color: $dark-grey;

    &:hover {
      color: $biscuit;
    }

    &:active {
      color: $biscuit;
    }
  }
}

nav.affix {
  transition: cubic-bezier(.47,0,.74,.71) 0.75s;
  height: 60px;
  background-color: white;

  & #nav-title {
    transition: cubic-bezier(.47,0,.74,.71) 0.75s;
    font-size: 1em;
  }

  & input#nav_product_name {
    transition: cubic-bezier(.47,0,.74,.71) 0.75s;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid $caramel;
  }

  & #logo {
    transition: cubic-bezier(.47,0,.74,.71) 0.75s;
    height: 40px;
    width: auto;
  }

  & a {
    transition: cubic-bezier(.47,0,.74,.71) 0.2s;
    color: $dark-grey;
  }
}

.nav-dark {
  color: $dark-grey!important;
  transition: cubic-bezier(.47,0,.74,.71) 0.2s;

  &:hover {
    color: $biscuit!important;
  }
}

/* Footer */
footer {
  background-color: $dark-grey;

  & span > a {
    color: white;

    &:hover {
      color: $caramel;
      text-decoration: none;
    }
  }
}
