@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Scope+One&display=swap');
@import 'variables.scss';

// General

body,
html {
  font-family: "Scope One", cursive, sans-serif;
  font-size: 18px;
  height: 100%;
  color: $dark-grey;
}

#nav-title,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", cursive, sans-serif;
}

.form-control:focus {
  box-shadow: none;
}

.mt-100 {
  margin-top: 76px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.jumbotron {
  color: white;
  background-size: cover;
  margin-bottom: 0;
  height: 100vh;
  border-radius: 0;
}

.pattern-bg {
  background: url("/static/img/pattern_white.jpg") repeat white;
  background-size: 50%;
}

@import 'static.scss';
@import 'home.scss';
@import 'account.scss';
