@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Scope+One&display=swap");
body,
html {
  font-family: "Scope One", cursive, sans-serif;
  font-size: 18px;
  height: 100%;
  color: #333;
}

#nav-title,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", cursive, sans-serif;
}

.form-control:focus {
  box-shadow: none;
}

.mt-100 {
  margin-top: 76px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.jumbotron {
  color: white;
  background-size: cover;
  margin-bottom: 0;
  height: 100vh;
  border-radius: 0;
}

.pattern-bg {
  background: url("/static/img/pattern_white.jpg") repeat white;
  background-size: 50%;
}

/* Includes and static pages */
/* Legal Notice */
#legal-notice {
  box-shadow: 0 5px 0 0 #DE9440;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}
#legal-notice h1,
#legal-notice h2 {
  font-weight: bold;
}
#legal-notice li::marker {
  color: #DE9440;
}

/* Navbar */
nav.navbar {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
  height: 80px;
  padding: 0;
}
nav.navbar #nav-title {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
  font-size: 1.2em;
}
nav.navbar input#nav_product_name {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #DE9440;
  border: 1px solid #DE9440;
}
nav.navbar #logo {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
  height: 60px;
  width: auto;
}
nav.navbar a {
  padding: 0;
  color: white;
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.2s;
}
nav.navbar a:hover {
  color: #E8A75D;
}
nav.navbar a:active {
  color: #E8A75D;
}
nav.navbar a.dropdown-item {
  color: #333;
}
nav.navbar a.dropdown-item:hover {
  color: #E8A75D;
}
nav.navbar a.dropdown-item:active {
  color: #E8A75D;
}

nav.affix {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
  height: 60px;
  background-color: white;
}
nav.affix #nav-title {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
  font-size: 1em;
}
nav.affix input#nav_product_name {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #DE9440;
}
nav.affix #logo {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
  height: 40px;
  width: auto;
}
nav.affix a {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.2s;
  color: #333;
}

.nav-dark {
  color: #333 !important;
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.2s;
}
.nav-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-dark:hover {
  color: #E8A75D !important;
}

/* Footer */
footer {
  background-color: #333;
}
footer span > a {
  color: white;
}
footer span > a:hover {
  color: #DE9440;
  text-decoration: none;
}

/* Home */
section#home-jumbotron {
  background-image: url("/static/img/home-jumbotron-bg.jpg");
}
section#home-jumbotron h1,
section#home-jumbotron h2 {
  background-color: rgba(232, 167, 93, 0.7);
  padding: 10px 15px;
  border-radius: 4px;
}
section#home-jumbotron input#jumbotron_product_name {
  height: 2em;
  border-radius: 3px;
  box-shadow: none;
  border: none;
}
section#home-jumbotron input[type=submit] {
  height: 2em;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: #DE9440;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.25s;
  margin-left: -8px;
}
section#home-jumbotron input[type=submit]:hover {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.25s;
  border-left: 1px solid #DE9440;
  background-color: white;
  color: #DE9440;
}

section hr {
  width: 100px;
  border-color: #333;
}

section#contact {
  background: url("/static/img/pattern_caramel.jpg") repeat #DE9440;
  background-size: 50%;
}
section#contact svg {
  font-size: 1.8em;
}
section#contact a {
  color: inherit;
}
section#contact a:hover {
  color: white;
}

section#about {
  background: url("/static/img/pattern_white.jpg") repeat white;
  background-size: 50%;
}

section#about h2, section#contact h2, section#home-jumbotron h2 {
  font-size: 2.3em;
}
section#about p, section#contact p, section#home-jumbotron p {
  font-size: 1.2em;
}

/* Account */
/* Profile */
div#profile button {
  border-radius: 0;
  border: 1px solid #DE9440;
  background-color: #DE9440;
}
div#profile button:hover {
  border: 1px solid #DE9440;
  background-color: white;
}
div#profile button a {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
}
div#profile button a:hover {
  color: #DE9440;
}

section#profile-jumbotron {
  background-image: url("/static/img/profile-jumbotron-bg.jpg");
}

.product-card {
  height: 512px;
}

.card .card-footer {
  background-color: white !important;
}
.card .card-body {
  height: 100%;
}
.card input[type=text],
.card input[type=password],
.card input[type=email] {
  border-radius: 3px;
  border: 1px solid #ddd;
  padding-left: 3px;
}
.card input[type=text]:focus,
.card input[type=password]:focus,
.card input[type=email]:focus {
  border: 1px solid #DE9440;
}
.card input[type=submit], .card .remove-link, .card .favorite-link {
  height: 2em;
  border: none;
  border-radius: 4px;
  background-color: #DE9440;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.25s;
  margin-left: -8px;
}
.card input[type=submit]:hover, .card .remove-link:hover, .card .favorite-link:hover {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.25s;
  background-color: white;
  border: 1px solid #DE9440;
  color: #DE9440;
}
.card a {
  color: #333;
}
.card a:hover {
  text-decoration: none;
  color: #E8A75D;
}
.card .remove-link, .card .favorite-link {
  padding: 3px 6px;
}

#favorites {
  height: 100vh;
  padding-top: 125px;
}
#favorites h2 {
  margin-bottom: 50px;
}

.product-card-wrapper {
  padding: 10px;
}

.product-thumbnail {
  max-height: 300px;
}

.card .card-badge {
  position: absolute;
  top: -15px;
  right: -25px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  font-weight: bolder;
  z-index: 99;
  font-size: 2em;
  color: white;
}

.card-badge-single {
  display: inline-block;
  font-size: 2em;
  color: white;
  border-radius: 100%;
  text-align: center;
  font-weight: bolder;
  height: 40px;
  width: 40px;
}

.card-badge-dark-green {
  background-color: #00823F;
}

.card-badge-green {
  background-color: #86BC2B;
}

.card-badge-yellow {
  background-color: #FECC00;
}

.card-badge-orange {
  background-color: #EF8200;
}

.card-badge-red {
  background-color: #E73C08;
}

@media (max-width: 576px) {
  #jumbotron_product_name {
    max-width: 180px;
  }
}
@media (max-width: 991.98px) {
  nav.navbar {
    background-color: white;
    color: #333;
  }
  nav.navbar #nav_product_name {
    width: 100%;
    height: 40px;
  }
  nav.navbar .mobile-link {
    margin-left: 0.5em;
  }
  nav.navbar #nav-title {
    font-size: 1em;
  }
  nav.navbar .nav-link {
    color: #333;
    margin-top: 20px;
    font-size: 1.4em;
  }
  nav.navbar #logo {
    transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.75s;
    height: 40px;
    width: auto;
  }
  nav.navbar a {
    color: #333;
    text-align: center;
  }
  nav.navbar a:hover {
    color: #E8A75D;
  }
  nav.navbar a:active {
    color: #E8A75D;
  }
  nav.navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }

  #navbarSupportedContent {
    padding: 20px 20px;
    background-color: white;
  }
}
#single-jumbotron {
  max-height: 400px;
}

#single-container {
  padding-top: 50px;
}
#single-container > .row {
  text-align: center;
  font-size: 1.2em;
}
#single-container #nutritional-single {
  text-align: left;
}

.custom-button {
  height: 2em;
  border: none;
  border-radius: 4px;
  background-color: #DE9440;
  color: white;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.25s;
}
.custom-button:hover {
  transition: cubic-bezier(0.47, 0, 0.74, 0.71) 0.25s;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DE9440;
  color: #DE9440;
}

/*# sourceMappingURL=main.css.map */
