{% extends "base.html" %}
{% load static %}
{% load round_float %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<section id="single-jumbotron" class="jumbotron jumbotron-fluid d-flex align-items-center" style="background-image: url('{{ product.image_url }}');background-size: contain;background-repeat: no-repeat;">
  <div class="container text-center">
    <h1>{{ product.product_name }}</h1>
  </div>
</section>
<div class="pattern-bg pb-5">
  <div id="single-container" class="container">
    <div class="row">
      <div id="nutriscore-single" class="col-xs-12 col-md-6">
        <h3>Nutriscore</h3>
        {% if product.nutriscore_grade == "a" %}
        <img src="{% static 'img/nutriscore-a.svg' %}" alt="A">
        {% elif product.nutriscore_grade == "b" %}
        <img src="{% static 'img/nutriscore-b.svg' %}" alt="B">
        {% elif product.nutriscore_grade == "c" %}
        <img src="{% static 'img/nutriscore-c.svg' %}" alt="C">
        {% elif product.nutriscore_grade == "d" %}
        <img src="{% static 'img/nutriscore-d.svg' %}" alt="D">
        {% else %}
        <img src="{% static 'img/nutriscore-e.svg' %}" alt="E">
        {% endif %}
      </div>
      <div id="nutritional-single" class="col-xs-12 col-md-6">
        <h3>Repères nutritionnels pour 100 g</h3>
        <p>Matières grasses / Lipides: <strong>{{ product.fat_100g|round_float }} g</strong></p>
        <p>Acides gras saturés: <strong>{{ product.saturated_fat_100g|round_float }} g</strong></p>
        <p>Sucres: <strong>{{ product.sugars_100g|round_float }} g</strong></p>
        <p>Sel: <strong>{{ product.salt_100g|round_float }} g</strong></p>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <a class="custom-button" href="{{ product.url }}" target="_blank">Voir la fiche d'OpenFoodFacts</a>
    </div>
  </div>
</div>

{% endblock %}
