/* Home */

section#home-jumbotron {
  background-image: url("/static/img/home-jumbotron-bg.jpg");

  & h1,
  h2 {
    background-color: rgba(232, 167, 93, 0.7);
    padding: 10px 15px;
    border-radius: 4px;
  }

  & input#jumbotron_product_name {
    height: 2em;
    border-radius: 3px;
    box-shadow: none;
    border: none;
  }

  & input[type="submit"] {
    height: 2em;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: $caramel;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    transition: cubic-bezier(.47,0,.74,.71) 0.25s;
    margin-left: -8px;

    &:hover {
      transition: cubic-bezier(.47,0,.74,.71) 0.25s;
      border-left: 1px solid $caramel;
      background-color: white;
      color: $caramel;
    }
  }
}

section hr {
  width: 100px;
  border-color: $dark-grey;
}

section#contact {
  background: url("/static/img/pattern_caramel.jpg") repeat $caramel;
  background-size: 50%;
  & svg {
    font-size: 1.8em;
  }
  & a {
    color: inherit;
    &:hover {
      color: white;
    }
  }
  & input, textarea {
    border-radius: 0px;
    border: none;
    width: 100%;
  }
  & textarea {
    margin-top:5px;
    padding: 5px;
  }
  & #mail-content {
    & + .row {
      margin-top: 5px;
    }
  }
  & button[type="submit"] {
    width: 100%;
    color: $caramel;
    font-weight: bolder;
    background-color: white;
    border: none;
    &:hover {
      background-color: $dark-grey;
      color: white;
    }
  }
}


section#about {
  background: url("/static/img/pattern_white.jpg") repeat white;
  background-size: 50%;
}

section#about, section#contact, section#home-jumbotron {
  & h2 {
    font-size: 2.3em;
  }
  & p {
    font-size: 1.2em;
  }
}
