$rooibos: #C45525;
$mussel: #345A61;
$candy: #86EBE6;
$caramel: #DE9440;
$biscuit: #E8A75D;
$dark-grey: #333;
$dark-green: #00823F;
$green: #86BC2B;
$yellow: #FECC00;
$orange: #EF8200;
$red: #E73C08;
