{% extends "base.html" %}

{% block title %}
  Connexion
{% endblock %}

{% block content %}

<div class="pattern-bg h-100">
  <div class="container h-100">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card col-4 mx-auto">
      <div class="card-body text-center">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% include 'includes/_forms.html' %}
            <input type="submit" value="Connexion">
        </form>
      </div>
      <div class="card-footer text-center">
        <a href="{% url 'password_reset' %}">Reinitialiser mot de passe</a>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
