{% extends "base.html" %}

{% block title %}
  Reinitialisation du mot de passe
{% endblock %}


{% block content %}
<div class="pattern-bg h-100">
  <div class="container h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card col-4 mx-auto">
        <div class="card-body text-center">
          <form method="post">
              {% csrf_token %}
              {% include 'includes/_forms.html' %}
              <input type="submit" value="Valider">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
